body{
    font-family: 'Orienta', sans-serif;
    background-color: #e74c3c;
}
form{
    margin-top: 175px;
    width: 100%;
    background-color: #c0392b;
    box-shadow: 5px 5px 5px black;
    border-radius: 20px;
    padding: 50px;
    color: white;
}