body{
    background-color: #cdc;
    /*font-family: 'Oxygen', sans-serif;*/
    font-family: 'PT Sans', sans-serif;
}
.header{
}
form{
    background-color: #0aa;
    color: #eee;
    position: fixed;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
}
input#id_number{
    text-align: center;
}